{
  "project_info": {
    "project_number": "927182099419",
    "firebase_url": "https://loki-bc0bb-default-rtdb.firebaseio.com",
    "project_id": "loki-bc0bb",
    "storage_bucket": "loki-bc0bb.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:927182099419:android:60940b9ddec86f6f014dfe",
        "android_client_info": {
          "package_name": "com.loki.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_ANDROID_CLIENT_ID_HERE",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyCzGEGORei6VZcrKKt7rA5cp9ecmdaNaNE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "YOUR_ANDROID_CLIENT_ID_HERE",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}